@import "../../sassStyles/variables";

.hero {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;

  .hero-text-primary {
    position: absolute;
    text-align: center;
    width: 100%;
    max-width: 200rem;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    -webkit-transform: translate(-50%, -30%);
    -moz-transform: translate(-50%, -30%);
    -ms-transform: translate(-50%, -30%);
    -o-transform: translate(-50%, -30%);

    h1 {
      padding: 0 1rem;
      font-size: 3rem;
      font-family: $italiana;
      font-weight: 100;

      .header-main {
        display: block;
        margin-bottom: 1rem;
        letter-spacing: 0.2rem;
        font-weight: 600;
      }
    }
  }

  .callout-box {
    position: absolute;
    text-align: center;

    width: 90%;
    max-width: 50rem;
    border: 2px solid silver;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);
    -o-transform: translate(-50%, -70%);

    display: block;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
    padding: 1rem 0.5rem;
  }
}

@media only screen and (min-width: 530px) {
  .header-main {
    padding-left: 2rem;
    text-align: left;
    font-size: 4rem;
  }

  .callout-box {
    font-size: 50%;
    padding: 2rem 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .header-main {
    font-size: 6rem;
  }
}

@media only screen and (min-width: 1024px) {
  .header-main {
    font-size: 8rem;
  }
}

@media only screen and (min-width: 1440px) {
  .header-main {
    font-size: 12rem;
  }
}
