.project-card {
  border: 1px solid green;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  .card-image {
    width: 100%;
    flex: 1 1 30rem;
  }

  .card-content {
    width: 100%;
    height: auto;
    flex: 1 1 30rem;
    display: flex;
    justify-content: space-between;

    .card-meta {
      font-size: clamp(2.2rem, 5vw, 4rem);
      padding-right: 1rem;
      font-weight: 600;
      color: red;
    }

    .card-description > * {
      margin-bottom: 2rem;
      padding: 0.5rem;
    }
  }
}
