@import "./sassStyles/variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //10px
}

body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  // overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $grayscale-70;
}
